{% extends 'app/base.html' %}

{% load static %}

{% block content %}
    <div class="cv" >
        <div id="author">Authors</div>
        <div class="row" style="margin-bottom: 30px;margin-top: 20px;">
            <div class="nom"   id="thomas">Thomas SIMMER</div>
            <div class="nom"   id="soundouss">Soundouss ZAME</div>
            <div class="nom"   id="raphael">Raphaël DELAIR</div>
        </div>
        <div class="cv_thomas" id="cv_thomas">
            <nav>
                <ul>
                    <li>
                        <i class="fa-inverse fas fa-user" ></i>
                        <a style="text-transform: none;" id="skillst">  Hobbies and Skills</a>
                    </li>
                    <li>
                        <i class="fa-inverse fas fa-graduation-cap" ></i>
                        <a style="text-transform: none;" id="formationt">  Formation</a>
                    <li>
                        <i class="fa-inverse fas fa-briefcase" ></i>
                        <a style="text-transform: none;" id="experiencet"> Experience</a>
                    </li>
                    <li>
                        <i class="fa-inverse fas fa-phone" ></i>
                        <a style="text-transform: none;" id="contactert">  Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="skillsitems" id="skillsitemst">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Hobbies</div>
                    <div class="item" > • Lecture : Science-Fiction and Philosophy</div>
                    <div class="item" > • Sport : Triathlon and Tennis</div>
                    <div class="item" > • Cinema : Xavier Dolan & Christopher Nolan's movies.</div>
                    <div class="item" > • Series : The Young Pope, Rick & Morty, Sillicon Valley</div>
                    <div class="item" > • Programming : Arduino, Euler Project, Website</div>
                </div>
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px;"> My Skills</div>
                    <div class="item" > • Driving License and owns a car.</div>
                    <div class="item" > • English (B2) Spanish(A2) Russian(A2)</div>
                    <div class="item" > • Microsoft Office, PyCharm, Matlab</div>
                    <div class="item" > • Python, MySql, PHP</div>
                    <div class="item" > • HTML, CSS, JavaScript</div>
                    <div class="item" > • Windows, Linux, Mac OS</div>
                </div>
            </div>
            <div class="skillsitems" id="formationitemst">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Formation</div>
                    <div class="row">
                        <div>
                            <div class="item" > •  Baccalauréat</div>
                            <div class="subitem" > Lycée Notre-Dame Les Oiseaux, Paris 75016 <br /> Série S, spécialité mathématique <br /> Mention très bien, option latin.</div>
                        </div>
                        <div>
                            <div class="item" > •  Classe Préparatoire</div>
                            <div class="subitem" > Lycée Raspail, Paris 75014 <br /> Deux années de classes préparatoires dans la filière PT (Physique Technologique) <br /> Fabrication d’un altimètre électronique avec Arduino pour l’épreuve TIPE. </div>
                        </div>
                        <div>
                            <div class="item" > • École d'ingénieur</div>
                            <div class="subitem" > ENAC, École Nationale de l’Aviation Civile, Toulouse <br /> Trois années dans la capitale de l’aéronautique. <br /> Projet informatique de plusieurs mois en Python. <br /> Création de ce site web. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillsitems" id="experienceitemst">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Experiences</div>
                    <div class="row" >
                        <div style="margin-right: 100px;">
                            <div class="item" > •  AirExpo</div>
                            <div class="subitem" > Membre de la restauration. Chargé des boissons.<br /> Prise de contact avec des entreprises et commande des besoins du meeting. <br .> Participation à la logistique du projet .</div>
                        </div>
                        <div>
                            <div class="item" > •  Bureau Solidaire</div>
                            <div class="subitem" > Responsable partenaires. <br /> Chargé des contacter des associations caricatives pour nous aider dans nos projets.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="item" > • Prépa Brevet</div>
                            <div class="subitem" > Aider en mathématiques des élèves de 3ème à obtenir le brevet. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillsitems" id="contactitemst">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; margin-bottom:20px; "> My Coordinates</div>
                    <div class="item" > • 21 ans (06/02/1997)  </div>
                    <div class="item" > • +33 6 23 57 29 65</div>
                    <div class="item"  style="margin-bottom: 30px;" > • thomas.simmer@hotmail.fr</div>
                    <img src="{% static 'images/photoThomas.png' %}" style="max-width: 80%; height: auto;" title="bonjour" />
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; margin-bottom:20px; ">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/thomas-simmer-b104b2158/" id="linkedin">
                            My Linkedin
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cv_thomas" id="cv_soundouss">
            <nav>
                <ul>
                    <li>
                        <i class="fa-inverse fas fa-user" ></i>
                        <a style="text-transform: none;" id="skillss">  Hobbies and Skills</a>
                    </li>
                    <li>
                        <i class="fa-inverse fas fa-graduation-cap" ></i>
                        <a style="text-transform: none;" id="formations">  Formation</a>
                    <li>
                        <i class="fa-inverse fas fa-briefcase" ></i>
                        <a style="text-transform: none;" id="experiences"> Experience</a>
                    </li>
                    <li>
                        <i class="fa-inverse fas fa-phone" ></i>
                        <a style="text-transform: none;" id="contacters">  Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="skillsitems" id="skillsitemss">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Hobbies</div>
                    <div class="item" > • Sport : Rugby & Judo (ceinture marron)</div>
                    <div class="item" > • Music : Guitare</div>
                </div>
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px;"> My Skills</div>
                    <div class="item" > • Driving License and owns a car.</div>
                    <div class="item" > • English (B2) Spanish(B2) Arabic French (mother tongue)</div>
                    <div class="item" > • Microsoft Office, PyCharm, Matlab</div>
                    <div class="item" > • Python</div>
                    <div class="item" > • Windows, Linux</div>
                </div>
            </div>
            <div class="skillsitems" id="formationitemss">
                <div>
                    <div class="nom" style="  color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Formation</div>
                    <div class="row" >
                        <div style ="padding-right: 50px; padding-left: 50px;">
                            <div class="item" > •  Baccalauréat</div>
                            <div class="subitem" > Lycée Pierre de Fermat, Toulouse 31000 <br /> Série S</div>
                        </div>
                        <div style ="padding-right: 50px; padding-left: 50px;">
                            <div class="item" > •  PACES + 1 an de passerelle </div>
                            <div class="subitem" > Université Paul Sabatier, Toulouse 31000<br /> Toulouse Tech </div>
                        </div>
                        <div style ="padding-right: 50px; padding-left: 50px;">
                            <div class="item" > • École d'ingénieur</div>
                            <div class="subitem" > ENAC, École Nationale de l’Aviation Civile, Toulouse <br /> Trois années dans la capitale de l’aéronautique. <br /> Projet informatique de plusieurs mois en Python. <br /> Création de ce site web. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillsitems" id="experienceitemss">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Experiences</div>
                    <div class="row" >
                        <div style="margin-right: 100px;">
                            <div class="item" > •  Présidente associatif EMF Toulouse</div>
                            <div class="subitem" > </div>
                        </div>
                        <div>
                            <div class="item" > •  Conseillère en management qualité à SAS LINKIT</div>
                            <div class="subitem" > </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="item" > • Banque de France</div>
                            <div class="subitem" > stage de découverte en entreprise</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillsitems" id="contactitemss">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; margin-bottom:20px; "> My Coordinates</div>
                    <div class="item" > • 22 ans  </div>
                    <div class="item" > • +33 6 70 15 42 28</div>
                    <div class="item"  style="margin-bottom: 30px;" > • soundouss.zaame@gmail.com</div>
                </div>
            </div>
        </div>
        <div class="cv_thomas" id="cv_raphael">
            <nav>
                <ul>
                    <li>
                        <i class="fa-inverse fas fa-user" ></i>
                        <a style="text-transform: none;" id="skillsr">  Hobbies and Skills</a>
                    </li>
                    <li>
                        <i class="fa-inverse fas fa-graduation-cap" ></i>
                        <a style="text-transform: none;" id="formationr">  Formation</a>
                    <li>
                        <i class="fa-inverse fas fa-briefcase" ></i>
                        <a style="text-transform: none;" id="experiencer"> Experience</a>
                    </li>
                    <li>
                        <i class="fa-inverse fas fa-phone" ></i>
                        <a style="text-transform: none;" id="contacterr">  Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="skillsitems" id="skillsitemsr">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Hobbies</div>
                    <div class="item" > • Lecture : Fantasy and polars</div>
                    <div class="item" > • Sport : Judo (Black belt)</div>
                    <div class="item" > • Music : Play the flute and the guitar, learning the Soubassophone</div>
                    <div class="item" > • Programming : Games in Java</div>
                    <div class="item" > • Travel : Road trip into the eastern/central Europe </br> Workaway experience in Ireland, visited Brazil, Portugal, Grece, Italia, Great Brittain...</div>
                </div>
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px;"> My Skills</div>
                    <div class="item" > • Driving License.</div>
                    <div class="item" > • English (B2) Spanish(A2) </div>
                    <div class="item" > • Microsoft Office : Word, Excel, Publisher</div>
                    <div class="item" > • Python, MySql, Java</div>
                    <div class="item" > • HTML, CSS, JavaScript</div>
                    <div class="item" > • Windows, Linux, Mac OS</div>
                </div>
            </div>
            <div class="skillsitems" id="formationitemsr">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Formation</div>
                    <div class="row">
                        <div>
                            <div class="item" > •  2014-2015\t\tLycée</div>
                            <div class="subitem" > Terminale S au lycée du Grésivaudan de Meylan <br /> Série S, option Informatique et Science du Numérique <br /> Baccalauréat Mention très bien.</div>
                        </div>
                        <div>
                            <div class="item" > •  2015-2017\t\tClasse préparatoire</div>
                            <div class="subitem" > La Prépa des INP de Grenoble</div>
                        </div>
                        <div>
                            <div class="item" > • Depuis 2017 \t\tÉcole d'ingénieur</div>
                            <div class="subitem" > ENAC, École Nationale de l’Aviation Civile, Toulouse <br /> Trois années dans la capitale de l’aéronautique. <br /> Projet informatique de plusieurs mois en Python. <br /> Création de ce site web. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillsitems" id="experienceitemsr">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; "> My Experiences</div>
                    <div class="row" >
                        <div style="margin-right: 100px;">
                            <div class="item" > •  2017-2018\t\tEuropean Aerostudent Games</div>
                            <div class="subitem" > Responsable Partenaires.<br /> Tournoi sportif rassemblant des étudiants dans l'aéronautique provenant de toute l'Europe</div>
                        </div>
                        <div>
                            <div class="item" > •  2017-2018\t\tBureau Des Arts</div>
                            <div class="subitem" > Responsable Communication.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="item" > • 2017\t\tStage ouvrier</div>
                            <div class="subitem" > Stage ouvrier à Microcrostore de 6 semaines clôturant la formation de la Prépa des INP<br /> Entreprise de déploiement de postes informatique.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skillsitems" id="contactitemsr">
                <div>
                    <div class="nom" style=" color: #d1d1d1; text-transform: none; letter-spacing: 2px; margin-bottom:20px; "> My Coordinates</div>
                    <div class="item" > • 21 ans (03/02/1997)  </div>
                    <div class="item" > • +33 7 81 47 00 52</div>
                    <div class="item"  style="margin-bottom: 30px;" > • delair.raphael@gmail.com</div>
                    <img src="{% static 'images/photoRaphael.jpg' %}" style="max-width: 80%; height: auto;" title="bonjour" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
