include LICENSE README.md requirements_dev.txt
include example_settings.ini
include *.json
include *.txt
recursive-include tests *.json

graft gravitaround
global-exclude *.py[cod] __pycache__ *.so .DS_Store

exclude .coveragerc Makefile manage.py release.conf tox.ini .pylintrc gravitaround.log
exclude gravitaround/staticassets
exclude credentials.json

prune docs
prune gravitaround/media
