.Button, .down:hover, .ResearchBar
{
    font-family: 'Montserrat';
    position: relative;
    display: inline-block;
    font-size: 0.8em;
    color: #555;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: #f5f5f5;
    box-shadow: 0 0 0 1px white inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 4px 0 0 #777,
                0 4px 0 1px rgba(0,0,0,.4),
                0 4px 4px 1px rgba(0,0,0,0.5);
}


.Button:hover, .Button:active, .down
{
top: 4px;
box-shadow: 0 0 0 1px white inset,
                0 0 0 2px rgba(255,255,255,0.15) inset,
                0 0 0 1px rgba(0,0,0,0.4);
}




.ui-autocomplete {
    border:2px solid #fff;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.6em;
    background-color: rgba(0, 0, 0, 0.9);
    color:#f5f5f5;
    max-height: 100px;
    max-width: 270px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    list-style: none;
    z-index: 3;

}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {

    background-color: rgba(0, 0, 0, 0.8);
    color:#f5f5f5;
    height: 100px;

}

.ui-autocomplete-category {
color : rgba(200, 200, 200, 0.9);
text-align: center;
line-height: 1.5;
font-size: 1.2em;
list-style: inside;
}
