/**
 * daterangepicker-ui
 */

/* fix daterangepicker style with new template */
.daterangepicker .calendar {
  padding-bottom: 10px;
}
.daterangepicker.single.ltr .ranges {
  float: none;
}
.daterangepicker .range_inputs {
  position: absolute;
  bottom: 0;
  padding: 10px 60px;
}
.daterangepicker .calendar-time {
  margin-bottom: 30px;
  padding-left: 0;
}
.daterangepicker .calendar-time i {
  padding-left: 20px;
}
.daterangepicker .applyBtn:hover {
    background-image: none;
    border-color: #398439;
    color: #fff !important;
}
.date-tooltip.ui-tooltip{
  padding:8px;
  position:absolute;
  z-index:9999;
  max-width:300px;
  -webkit-box-shadow:0 0 5px #aaa;
  box-shadow:0 0 5px #aaa;
  border-width:2px
}
.date-tooltip.info,
.date .date-error.error {
  border-radius: 3px;
  border: 1px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  padding: 5px 5px 5px 30px;
  box-shadow: 3px 2px 3px #cacaca;
  margin-bottom: 10px;
}
.date-tooltip.info {
  color: #84b0f6 !important;
  background: url('../css/ops/img/ui/info.png') 10px 50% no-repeat, #f2f7ff;
}
.date .date-error.error {
  color: #ff6666;
  background: url('../css/ops/img/ui/error.png') 10px 50% no-repeat, #fce2e2;
}
.date-tooltip .ui-tooltip-content {
  font-size: 9px;
}
.date ._datetimerange_display {
  width: auto;
}
.date .date-error {
  position: absolute;
  z-index: 9999;
  white-space: nowrap;
}
.date .dropdown-menu label {
  display: inline-block;
  font-size: inherit;
}
.date .dropdown-toggle {
  display: table-cell;
  border-right: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.date .dropdown-menu {
  width: 300px;
  background-color: #F5F5F5;
}
.date .dropdown-menu li {
  padding: 3px 10px;
}
.date .dropdown-menu li input {
  margin-right: 3px;
}
form input[type=submit].daterangepicker--invalid-inactive {
  background-image: none;
  border: none;
}
