.label-new,
.label-future {
  background-color: #428bca;

  &[href]:hover,
  &[href]:focus {
    background-color: #3071a9;
  }
}

.label-valid {
  background-color: #5cb85c;

  &[href]:hover,
  &[href]:focus {
    background-color: #449d44;
  }
}

.label-expired,
.label-cancelled,
.label-terminated {
  background-color: #f0ad4e;

  &[href]:hover,
  &[href]:focus {
    background-color: #ec971f;
  }
}

.label-suspended,
.label-withdrawn {
  background-color: #f0ad4e;

  &[href]:hover,
  &[href]:focus {
    background-color: #ec971f;
  }
}
