.navside__customer {
  border-bottom: 1px solid #666;
}

.navside__customer__title,
.navside__customer__subtitle {
  margin: 0 10px 5px;
}

.navside__customer__subscriptions {
  list-style: none;
  padding: 10px 10px 0 10px;
}
