/**
 * Margins
 */

.margin0 {
   margin: 0 !important;
}

.margin {
   margin: 10px !important;
}

.margin20 {
   margin: 20px !important;
}

.marginT {
   margin-top: 10px !important;
}

.marginT20 {
   margin-top: 20px !important;
}

.marginR {
   margin-right: 10px !important;
}

.marginR20 {
   margin-right: 20px !important;
}

.marginB {
   margin-bottom: 10px !important;
}

.marginB20 {
   margin-bottom: 20px !important;
}

.marginL {
   margin-left: 10px !important;
}

.marginL20 {
   margin-left: 20px !important;
}


/**
 * Paddings
 */

.padding0 {
  padding: 0 !important;
}

.padding {
  padding: 10px !important;
}

.padding20 {
  padding: 20px !important;
}

.paddingT {
  padding-top: 10px !important;
}

.paddingT20 {
  padding-top: 20px !important;
}

.paddingR {
  padding-right: 10px !important;
}

.paddingR20 {
  padding-right: 20px !important;
}

.paddingB {
  padding-bottom: 10px !important;
}

.paddingB20 {
  padding-bottom: 20px !important;
}

.paddingL {
  padding-left: 10px !important;
}

.paddingL20 {
  padding-left: 20px !important;
}

/**
 * White spaces
 */

.nowrap {
  white-space: nowrap;
}
