.line-separator {
  position: relative;
  text-align: left;
  z-index: 2;

  &:after{
    border-top: solid 2px #DDDDDD;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
  }

  .line-separator__text{
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
  }
}
